.container {
  background: #1b4b5e7a;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1250px) {
  .container {
    height: calc(100dvh - 40px)  !important;
  }
  
}