.container {
  /* background: #ffda08; */
  width: 100%;
  /* height: 100%;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: calc(100dvh - 70px);
  overflow: hidden;
}

.form {
  display: flex;
}
.input {
  width: 100%;
  padding: 20px 15px;
  border: none;
  border-top: 1px solid #ccc;
  background: #fff;
  color: black;
  font-weight: 700;
  height: 50px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
.input:focus {
  outline: none; /* or your custom outline */
  transition: none; /* Remove any transitions on focus */
}
.input::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.sendButton {
  padding: 10px 20px;
}
.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 10px;
  overflow: auto;
}


.messages > *:first-child {
  /* margin-top: auto; */
}
.message {
  padding: 10px 15px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.4;
  background: #5f9ea007;
  max-width: 80%;
  width: max-content;
}

.yourMessage {
  align-self: flex-end;
}
.otherMessage {
  align-self: flex-start;
}
.messageContent {
  white-space: pre-wrap;
  font-size: medium;
}
.messageTimestamp {
  font-size: 10px;
  color: #8093af;
  text-align: right;
}
